{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			<div class="row">
				{% for article in articles %}
					<div class="container mt-4">
						<div class="row">
							<div class="mx-auto">
								<div class="card">
									<img src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/optim/i/edit/2019/04/eso1644bsmall__w770.jpg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">{{article.title}}</h5>
										<p class="card-text">{{article.content}}</p>
										<p>{{article.author}} -	{{article.createdAt |date("d/m/Y")}}</p>
										<a href="/article" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
