{% extends 'base.html.twig' %}

{% block title %}A Propos
{% endblock %}

{% block body %}
	<div class="row mt-5 ml-5">
		<a href="/">
			<buttontype="button" class="btn btn-success">Retour Page Accueil</button>
		</a>
	</div>
	<div class="col-md-4 mx-auto">
		<div class="card bg-dark mb-4">
			<div class="card-header">
				<h5 class="card-title">A Propos</h5>
			</div>
			<div class="card-body">
				<p class="card-text">Ce site internet est un blog qui contient plusieurs articles sur des modèles de voitures.</p>
				<p class="card-text">Vous pouvez chercher un modèle en particulié ou chercher par catégorie de voitures comme par exemple :</p>
				<p class="card-text">- Muscle Car</p>
				<p class="card-text">- Super Car</p>
				<p class="card-text">- Etc...</p>
			</div>
			<img class="card-img-top" src="https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/9/3/c/93c705ac43_50165812_raesr-tachyon-speed-2.jpg" alt="Card image cap">
		</div>
	</div>
{% endblock %}
