{% extends 'base.html.twig' %}

{% block title %}A Propos
{% endblock %}

{% block body %}
	<a href="/">
		<buttontype="button" class="btn btn-success">Retour Page Accueil</button>
	</a>
	<div class="col-md-4">
		<div class="card bg-dark mb-4">
			<img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/uuePrPhcMYMJaHGAXr4StZugh5GKVhp-ZIexqMgcHUa2EliJDyjjHnXcN8ot8kGT9_vz9CBDSwMFltIIib90kqQKyzC7KB5zWxtJmmT67wZP4d3J5q5KjX3Mmr1nvur4X8I" alt="Card image cap">
			<div class="card-header">
				<h5 class="card-title">A Propos</h5>
			</div>
			<div class="card-body">
				<p class="card-text">poum de poguy</p>
			</div>
		</div>
	</div>
{% endblock %}
