{% extends 'base.html.twig' %}

{% block title %}A Propos
{% endblock %}

{% block body %}
	<a href="/"><buttontype="button" class="btn btn-success">Retour Page Accueil</button></a>
	<div class="card text-white bg-dark mb-3 mx-auto mt-5" style="width: 550px">
		<div class="card-header">
			<h4>A Propos</h4>
		</div>
		<div class="card-body">
			Lorem Ipsum
		</div>
	</div>
{% endblock %}
