{% extends 'base.html.twig' %}

{% block title %}A Propos
{% endblock %}

{% block body %}
	<a href="/">
		<buttontype="button" class="btn btn-success">Retour Page Accueil</button>
	</a>
	<div class="col-md-4 mx-auto">
		<div class="card bg-dark mb-4">
			<div class="card-header">
				<h5 class="card-title">A Propos</h5>
			</div>
			<div class="card-body">
				<p class="card-text">Ce site internet est un blog qui contient plusieurs articles sur des modèles de voitures.</p>
				<p class="card-text">Vous pouvez chercher un modèle en particulié ou chercher par catégorie de voitures comme par exemple :</p>
				<p class="card-text">- Muscle Car</p>
				<p class="card-text">- Super Car</p>
				<p class="card-text">- Etc...</p>
			</div>
			<img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/uuePrPhcMYMJaHGAXr4StZugh5GKVhp-ZIexqMgcHUa2EliJDyjjHnXcN8ot8kGT9_vz9CBDSwMFltIIib90kqQKyzC7KB5zWxtJmmT67wZP4d3J5q5KjX3Mmr1nvur4X8I" alt="Card image cap">
		</div>
	</div>
{% endblock %}
